@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
	list-style:none;
	font-size:13px;
	font-family:宋体, arial, georgia;
	text-decoration:none;
	color:#333;
}
#property_nav {
	height:30px;
	padding-left:7px;
	background-color:rgb(0,153,204);
	background-color:rgba(0,153,204,.8);
}
#property_nav a {
	line-height:30px;
	color:#FFF;
	margin:0 5px;
}
#main_body {
	padding:3px 7px;
}
#main_body p {
	color:#555;
    font-size:13px;
	padding-left:10px;
	line-height:22px;
}
#main_body h1 {
	font-size:26px;
	text-shadow:2px 2px 2px #CCC;
	color:#058DC7;
	padding-left:10px;
}
#main_body #desc {
	margin-top:5px;
	color:#005C9C;
	border-top:1px solid #000;
	background-color:#C1D9FF;
	padding-left:10px;
}
#main_body h2 {
	line-height:30px;
	font-size:14px;
	color:#333;
	background-color:#EEE;
	margin:15px 0px 15px;
	padding-left:10px;
}
/***************************/
#tutorials_table td {
	height:200px;
	border:solid 1px #DDD;
	padding:10px;
	text-align:left;
	vertical-align:top;
}
#codes {
}
#definition_and_usage {
	width:476px;
	margin:10px 0px;
	border:1px solid #C3C3C3;
	border-collapse: collapse;
}
#definition_and_usage tr td{
	height:25px;
	text-align:left;
	line-height:25px;
	border:1px solid #C3C3C3;
	padding-left:10px;
}
#definition_and_usage tr td:first-child {
	background-color:#C1D9FF;
	font-weight:600;
}
#syntax {
	border:1px solid #C3C3C3;
	border-collapse: collapse;
}
#syntax tr th{
	height:25px;
	text-align:left;
	font-weight:600;
	line-height:25px;
	border:1px solid #C3C3C3;
	background-color:#C1D9FF;
	padding-left:10px;
}
#syntax tr td{
	height:25px;
	text-align:left;
	line-height:25px;
	border:1px solid #C3C3C3;
	padding-left:10px;
}
#compatibility {
	width:476px;
	border:1px solid #C3C3C3;
	border-collapse: collapse;
}
#compatibility tr th{
	height:25px;
	text-align:center;
	font-weight:600;
	line-height:25px;
	border:1px solid #C3C3C3;
	background-color:#C1D9FF;
	padding-left:10px;
}
#compatibility tr td{
	height:25px;
	text-align:right;
	line-height:25px;
	border:1px solid #C3C3C3;
	padding:0px 10px;
	background-position:center;
	background-repeat:no-repeat;
}
.c_ie {
	background-image:url(../images/compatible_ie.gif);
}
.c_chrome {
	background-image:url(../images/compatible_chrome.gif);
}
.c_firefox {
	background-image:url(../images/compatible_firefox.gif);
}
.c_safari {
	background-image:url(../images/compatible_safari.gif);
}
.c_opera {
	background-image:url(../images/compatible_opera.gif);
}
.p_ie {
	background-image:url(../images/precompatible_ie.gif);
}
.p_chrome {
	background-image:url(../images/precompatible_chrome.gif);
}
.p_firefox {
	background-image:url(../images/precompatible_firefox.gif);
}
.p_safari {
	background-image:url(../images/precompatible_safari.gif);
}
.p_opera {
	background-image:url(../images/precompatible_opera.gif);
}
/***********************************/
.radioController input,.radioController label {
	line-height:2;
	margin:0px 5px;
}